/*-------------------- 
**RESET---------------*/
/* This reset is a copied from Andy Bell reset css */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------
** DECALRE VARIABLES */
:root {
  --btn-hover-1: #66E2DC;
  --btn-hover-2: #FFB964;
  --btn-1: #191826;
  --btn-2: #FCFAF9;
  --background: #FA7453;

  --ff: 'IBM Plex Sans', san-serif;
  --fw-bold: 700;
  --fw-normal: 400;
}

/*------------------ 
** GENERAL STYLING */
.flex-box {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-weight: 400;
  color: var(--btn-1);

  padding: 3rem 2.5rem;
  background-color: var(--btn-2);
  background-image: url('images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: 0 -12%;
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.body-1 {
  line-height: 1.625rem;
}

/*----------------
** DESIGN LAYOUT */

/* LOGO */
.header-logo {
  margin-bottom: 4rem;
}

.container {
  gap: 1.25rem;
}

/* MAIN HEADING */
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.455px;
}

.intro-text {
  margin-bottom: 9.125rem;
}

/* SUBSCRIPTION LAYOUT */
.subscription-container {
  width: 100vw;

  position: relative;
  z-index: 1;
  left: -2.5rem;

  border-radius: .75rem;

  background-color: var(--btn-1);
  background-image: url('images/bg-pattern-2.svg');
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 50% top;
}

.wrapper {
  max-width: 220px;
  margin-top: -6rem;
  align-self: center;
}

.subscription-detail {
  padding: 2.5rem;
  gap: .75rem;

  border-radius: .75rem;
  background-color: var(--background);
  color: var(--btn-2);

  margin-top: 5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.subscription-detail p {
  margin-bottom: 1rem;
}

.price {
  font-size: 3rem;
  line-height: 3.25rem;
  gap: .5rem;
}

span {
  font-size: initial;
  font-weight: initial;
  align-self: center;
}

.btn {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.75rem;
  border-color: transparent;
  padding: 1rem;
}

.ios {
  color: var(--btn-2);
  background-color: var(--btn-1);
}

.ios:hover {
  background-color: var(--btn-hover-1);
}

.android {
  color: var(--btn-1);
  background-color: var(--btn-2);
}

.android:hover {
  background-color: var(--btn-hover-2);
}

footer {
  margin-top: 5rem;
  gap: 2rem;
}

.email-address a {
  color: var(--btn-1);
}

.social-media {
  padding-left: 0;
  gap: 1rem;
}

.social-media a:hover .icon {
  fill: var(--background);
}

.attribution {
  margin-top: 2rem;
  text-align: center;
}

.attribution a {
  color: var(--background);
}

@media (min-width: 48rem) {
  body {
    padding: 5.9375rem 2.5rem;

    background-image: url('images/bg-pattern-1.svg'), url('images/bg-main-tablet.png');
    background-position: top right, top left;
    background-size: 250px, contain;
  }

  .container {
    gap: 1.25rem
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -.727px;
  }

  .body-1 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  h1, .intro-text {
    padding-right: 20rem;
  }

  .intro-text {
    margin-bottom: 13rem;
  }

  .subscription-container {
    left: 0;
    width: 100%;
    background-size: 340px;
    background-position: 60% top;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3, 200px);
  }

  .wrapper {
    max-width: 300px;
    grid-column: 1/4;
    grid-row: 1/3;
    margin-top: 0;
    position: absolute;
    left: 2rem;
    top: -10rem;
  }

  .subscription-detail {
    max-width: 420px;
    grid-column: 2/6;
    grid-row: 1/4;
    justify-self: end;
    position: absolute;
    margin-top: 0;
    right: 2rem;
    top: 10rem;
  }

  footer {
    margin-top: 10rem;
  }

  footer.flex-box {
    flex-flow: row wrap;
  }

  .logo-footer {
    flex-basis: 100%;
  }

  .contact {
    flex-basis: 50%;
  }

  .social-media {
    flex-basis: 40%;
    align-self: center;
    justify-content: flex-end;
  }

  .attribution {
    flex-basis: 100%;
  }
}

@media (min-width: 90rem) {
  body {
    padding: 3.875rem 10.375rem;
    background-image: url('images/bg-pattern-1.svg'), url('images/bg-main-desktop.png');
    background-position: top right, top left;
    background-size: 300px, contain;
  }

  .container {
    gap: 2.5rem;
  }

  h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -1px;
  }

  .body-1 {
    font-size: 1.25rem;
  }

  h1, .intro-text {
    padding-right: 19rem; 
  }

  .intro-text {
    margin-bottom: 15rem;
  }

  .subscription-container {
    background-position: 34% top;
  }

  .wrapper {
    left: 5rem;
  }

  .subscription-detail {
    max-width: 446px;
    gap: 1.5rem;
    right: 7rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  footer {
    margin-top: 15rem;
  }

  .logo-footer, .social-media  {
    flex-basis: 25%;
  }

  .contact {
    flex-basis: 35%;
  }
  
  .social-media {
    align-self: center;
  }

  .attribution {
    margin-top: 2rem;
    text-align: center;
  }
}

